@import "tailwindcss";

/* Copy-paste CSS no-scrollbar kita tadi di sini */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
